<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<div class="center jumbotron">
		  <h1>Bem-Vindo ao SimulaJus</h1>
			<p><%= link_to "Iniciar", new_petition_url , class: "btn btn-primary btn-lg" %></p>
		</div>
	</body>
</html>
